* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:burlywood;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    padding: 20px;
}


main.content {
  flex: 1;
  display: flex;
  gap: 20px; 
  padding: 20px;
  background-image: url("../images/tlo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header, footer{
    text-align:center;
    padding: 15px;
}


img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 0 2vh 0;
}


p{
    font-size:16px;
}

.navbar{
    list-style-type: none;
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.navbar li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active){
    background-color: rgb(151, 121, 85);
}

.navbar li a.active{
    background-color: brown;
}

.box {
  flex: 1;
  margin: 0;
  background: white;
  padding: 3vh;
  text-align: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.85); 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.box p {
  margin-bottom: 3vh;
}

.box ul {
  list-style-position: inside;
  margin-bottom: 3vh;
}

.box ol {
  list-style-position: inside;
  margin-bottom: 3vh;
}

.box:hover{
    box-shadow: 0 30px 40px rgba(0,0,0,0.1);
}


@media (min-width: 700px) {
  .box {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  main.content {
    flex-direction: column;
    align-items: stretch; 
  }

  .box {
    flex: none; 
    width: 100%; 
    margin: 10px 0;
  }
}

